/* RESET  */
:root {
  --grey: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

/* ====================================================== */
/* HEADER */
header {
  background-color: white;

  ul {
    margin: 0 25px;
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.header-container {
  display: flex;
  padding: 16px;
}

.header-left {
  display: flex;
  flex: 1 1 auto;
  gap: 10px;
}

.header-right {
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-end;
  gap: 10px;
}

/* ====================================================== */

/* ====================================================== */
/* Jumbo */
.jumbo {
  background-color: rgba(180, 208, 230, 255);
}

.jumbo-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
}

.col30 {
  width: 30%;
  padding: 5px;
  /* background-color: blue; */
}

.col70 {
  width: 70%;
  /* background-color: violet; */
}

.body-container {
  max-width: 70%;
  margin: 0 auto;
  max-width: 900px;
}
/* ====================================================== */

/* COMMON */
/* LAYOUT */

.flex {
  display: flex;
}

h1 {
  font-size: 5.625rem;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
  padding: 60px 0 20px;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

.btn {
  background-color: rgba(0, 97, 254, 255);
  padding: 10px 15px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.btn-grey {
  background-color: white;
  color: var(--grey);
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid grey;
}

.business-section {
  margin-bottom: 10rem;
}

.partner-section {
  margin-bottom: 10rem;
}

.operation-section {
  margin-bottom: 10rem;
}

.clients-section {
  margin-bottom: 10rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title-box {
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.card {
  width: 30%;
  /* debug */
  border: 1px solid lightgray;
}

.long-card {
  width: 100%;
  margin-top: 35px;
  /* debug */
  border: 1px solid lightgray;
}

.card-body {
  padding: 10px 30px 25px;
}

.card-list {
  /* line-height: 2; */
  list-style: none;
  font-size: 0.8rem;

  li {
    margin: 20px 0;
  }
}

.divider {
  width: 30%;
  color: var(--grey);
}
/* ====================================================== */
/* PARTNER SECTION */
.partner-col60 {
  width: 65%;
}

.partner-col30 {
  width: 30%;
  padding-top: 60px;
}
/* ====================================================== */

/* ====================================================== */
/* OPERATION SECTION */
.op-card {
  width: 30%;
  /* padding: 5px; */
  font-size: 1rem;

  /* background-color: blue; */
}

/* ====================================================== */

/* ====================================================== */
/* IMPORTANT LINKS SECTION */
.links-section {
  background-color: black;
}

.important-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 1300px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 80px 0 80px;
}

.important-col {
  color: white;
  /* background-color: white; */
  border: 1px solid green;
  width: 20%;

  ul {
    list-style: none;
    li {
      margin-top: 15px;
    }
  }
}

/* ====================================================== */
/* FOOTER */
.footer {
  padding: 40px 0 20px;
  background-color: black;
}

.footer-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 1300px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-col {
  color: white;
  /* background-color: white; */
  border: 1px solid green;
  width: 20%;

  ul {
    list-style: none;
    li {
      margin-top: 15px;
    }
  }
}
/* ====================================================== */

/* Utility */

.font-bold {
  font-weight: bold;
}

.font-small {
  font-size: 0.8rem;
}

.stretch {
  display: block;
  width: 100%;
}

.my-sections {
  margin-bottom: 10rem;
}

.my-10 {
  margin: 10px 0 10px;
}

.my-20 {
  margin: 20px 0 20px;
}

.my-30 {
  margin: 30px 0 30px;
}

.my-40 {
  margin: 40px 0 40px;
}

.font-grey {
  color: var(--grey);
}
