/* RESET  */
:root {
  --grey: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 90px;
  max-width: 80%;
  margin: 0 auto;
  max-width: 1300px;
  padding: 40px 0 20px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  /* background-color: white; */
  align-items: center;
  /* debug */
  background-color: rgba(173, 216, 230, 255);
}

.header-container {
  display: flex;
  padding: 16px;
}

.header-left {
  display: flex;
  flex: 1 1 auto;
  gap: 10px;
}

.header-right {
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-end;
  gap: 10px;
}

.nav-list {
  margin: 0 15px;
  display: flex;
  gap: 15px;
  list-style: none;
  align-items: center;
}

/* Jumbo */
.jumbo {
  background-color: aquamarine;
}

.jumbo-container {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  max-width: 1300px;
}

.col30 {
  width: 30%;
  padding: 5px;
  text-align: center;
  background-color: blue;
}

.col70 {
  width: 70%;
  background-color: violet;
}

.body-container {
  display: flex;
  max-width: 50%;
  margin: 0 auto;
  max-width: 900px;
}

/* COMMON */
/* LAYOUT */
.business-section {
  margin-bottom: 20rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-box {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 5px;
}

.card {
  width: 30%;
  /* debug */
  border: 1px solid black;
}

.long-card {
  width: 100%;
  margin-top: 35px;
  /* debug */
  border: 1px solid black;
}

.card-body {
  padding: 25px;
}

.card-list {
  /* line-height: 2; */
  list-style: none;
  font-size: 0.8rem;

  li {
    margin: 10px 0;
  }
}

/* Utility */

.font-grey {
  color: var(--grey);
}
