/* RESET  */
:root {
  --grey: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 90px;
  max-width: 80%;
  margin: 0 auto;
  max-width: 1300px;
  padding: 40px 0 20px;
}

/* ====================================================== */
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  /* background-color: white; */
  align-items: center;
  /* debug */
  background-color: rgba(173, 216, 230, 255);
}

.header-container {
  display: flex;
  padding: 16px;
}

.header-left {
  display: flex;
  flex: 1 1 auto;
  gap: 10px;
}

.header-right {
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-end;
  gap: 10px;
}

.nav-list {
  margin: 0 15px;
  display: flex;
  gap: 15px;
  list-style: none;
  align-items: center;
}
/* ====================================================== */

/* ====================================================== */
/* Jumbo */
.jumbo {
  background-color: aquamarine;
}

.jumbo-container {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  max-width: 1300px;
}

.col30 {
  width: 30%;
  padding: 5px;
  text-align: center;
  background-color: blue;
}

.col70 {
  width: 70%;
  background-color: violet;
}

.body-container {
  max-width: 50%;
  margin: 0 auto;
  max-width: 900px;
}
/* ====================================================== */

/* COMMON */
/* LAYOUT */
.business-section {
  margin-bottom: 10rem;
}

.partner-section {
  margin-bottom: 10rem;
}

.operation-section {
  margin-bottom: 10rem;
}

.clients-section {
  margin-bottom: 10rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title-box {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 5px;
}

.card {
  width: 30%;
  /* debug */
  border: 1px solid black;
}

.long-card {
  width: 100%;
  margin-top: 35px;
  /* debug */
  border: 1px solid black;
}

.card-body {
  padding: 25px;
}

.card-list {
  /* line-height: 2; */
  list-style: none;
  font-size: 0.8rem;

  li {
    margin: 10px 0;
  }
}

/* ====================================================== */
/* PARTNER SECTION */
.partner-col60 {
  width: 65%;
  /* debug */
  border: 1px dashed black;
  background-color: blue;
}

.partner-col30 {
  width: 30%;
  /* debug */
  border: 1px dashed black;
  background-color: pink;
}
/* ====================================================== */

/* ====================================================== */
/* OPERATION SECTION */
.op-card {
  width: 30%;
  /* padding: 5px; */
  font-size: 1rem;

  background-color: blue;
}

/* ====================================================== */

/* ====================================================== */
/* FOOTER */
footer {
  height: 420px;
  background-color: black;
}

.footer-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 1300px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}

.footer-col {
  color: white;
  /* background-color: white; */
  border: 1px solid green;
  width: 20%;

  ul {
    list-style: none;
    li {
      margin-top: 15px;
    }
  }
}
/* ====================================================== */

/* Utility */

.font-grey {
  color: var(--grey);
}
